<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

<% include head.ejs %>

<body id="body" ng-app="assignManager">
  <% include nav_bar.ejs %>

  <section id="assign_manager" class="works clearfix" ng-controller="populateDepartments">
    <div class="container">
      <table class="table table-bordered">
        <thead>
          <th>Department</th>
          <th>Manager name</th>
          <th>Manager SSN</th>
        </thead>
        <tbody>
        <%# <option ng-repeat="x in departments">{{x.dname}}</option>%>
        <% for (x in departments) { %>
          <tr>
            <td>
              <%=departments[x].dname%>
            </td>
            <td>
            <input type="text" name="<%= departments[x].dname %>" value="">
            </td>
          </tr>
        <% } %>
      </tbody>
      </table>
    </div>
  </section>

  <%# <script>

  var app = angular.module('assignManager', []);
  app.controller('populateDepartments', function ($scope, $http){
    $http.post("/get_departments")
    .then(function (response) {
      $scope.departments = response.data;
      console.log("Departments:");
      console.log($scope.departments);
    });
  });
  </script>%>
</body>
