<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

<% include head.ejs %>

<body id="body">
  <% include nav_bar.ejs %>
    <!-- Contact Form -->
    <div class="item active" style="background-image: url(img/banner1.jpeg);">
          <div class="container">

                <div class="col-sm-6 col-sm-offset-3 c-form-box wow fadeInUp">

                      <div class="c-form-top">
                        <div class="c-form-top-left">
                          <h3 data-wow-duration="1000ms" ><span class="color"><b>Add New Member</b></span> </h3>
                <p>________________________________________</p>

                        </div>
                      </div>
                      <div class="c-form-bottom">
                        <form role="form"  method="post" action="/new_member_data">
                          <div class="form-group">
                            <label for="c-form-name">
                              <span class="label-text" style="color:white">NAME:</span>
                              <span class="contact-error"></span>
                            </label>
                            <input type="text" name="member_name" placeholder="Member's name..." class="c-form-name form-control" id="c-form-name">
                          </div>
                          <div class="form-group">
                            <label for="c-form-joiningDate">
                              <span class="label-text" style="color:white">JOINING DATE:</span>
                              <span class="contact-error"></span>
                            </label>
                              <input type="date" name="joiningDate" placeholder="Member's date of joining..." class="c-form-email form-control" id="c-form-joiningDate">
                            </div>
                            <div class="form-group">
                              <label for="c-form-age">
                              <span class="label-text" style="color:white">AGE:</span>
                              <span class="contact-error"></span>
                              </label>
                              <input type="integer" name="age" placeholder="Member's age..." class="c-form-subject form-control" id="c-form-age">
                            </div>
                            <div class="form-group">
                              <label for="c-form-PhoneNo">
                              <span class="label-text" style="color:white">PHONE NUMBER:</span>
                              <span class="contact-error"></span>
                              </label>
                              <input type="integer" name="PhoneNo" placeholder="Member's Phone number..." class="c-form-subject form-control" id="c-form-PhoneNo">
                            </div>
                            <div class="form-group">
                              <label for="c-form-EmailId">
                              <span class="label-text" style="color:white">EMAIL ID:</span>
                              <span class="contact-error"></span>
                              </label>
                              <input type="text" name="EmailId" placeholder="Members Email address..." class="c-form-subject form-control" id="c-form-EmailID">
                            </div>
                            <div class="form-group">
                              <label for="c-form-position">
                              <span class="label-text" style="color:white">POSITION:</span>
                              <span class="contact-error"></span>
                              </label>
                              <input type="text" name="position" placeholder="Member's position..." class="c-form-subject form-control" id="c-form-position">
                            </div>
                            <div class="form-group">
                              <label for="c-form-deptName">
                                <span class="label-text" style="color:white">DEPARTMENT NAME:</span>
                                <span class="contact-error"></span>
                              </label>
                              <input type="text" name="dname" placeholder="member's department Name..." class="c-form-subject form-control" id="c-form-deptName">
                            </div>

                            <button type="submit" class="btn btn-primary btn-md" style="color:white">SUBMIT</button>
                        </form>
                      </div>


              </div>

          </div>
        </div>


        <!-- Javascript -->
        <script src="public/js/jquery-1.11.1.min.js"></script>
        <script src="public/js/bootstrap.min.js"></script>
        <script src="public/js/jquery.backstretch.min.js"></script>
        <script src="public/js/wow.min.js"></script>
        <%# <script src="public/js/scripts.js"></script>%>

        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

    </body>
</html>
